body{
  margin: 0px 0px;
}
.App {
  width: 100%;
  background: url(https://images.unsplash.com/photo-1591277187956-f1322a8330b5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
  background-size: cover;
  text-align: center;
  animation: backgroundColor 20s infinite;
  -webkit-filter: brightness(90%); /* Opera, Chrome, Safari */
    filter: brightness(90%);
}
.name{
  font-family: 'Acme', sans-serif;
}

@keyframes backgroundColor {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


